{% for properties in propertiesList %}
			<div class="card" style="width: 300px; margin-bottom: 50px;">
				<img src="{{ asset('img/photo/' ~ properties.photo) }}" class="card-img-top" alt="{{ properties.title }}">
				<div class="card-body">
					<h5 class="card-title">{{ properties.title }}</h5>
					<p class="card-text"></p>
					<p>Rooms: {{ properties.rooms}}</p>
					<p>Size: {{ properties.surface }} m²</p>
					<p>Price: ${{ properties.price }}</p>
					<p>
					{% if properties.status %}
						<p class="text-success"><strong>On sale</strong></p>
					{% else %}
						<p class="text-danger"><strong>Sold</strong></p>
					{% endif %}
					</p>
					<a href="{{ path('app_single', {id: properties.id}) }}" class="btn btn-primary">Learn more</a>
				</div>
			</div>
		{% endfor %}