{% extends 'base.html.twig' %}

{% block body %}
	<div>
		<h3>Browse all available properties</h3>
	</div>
	<hr>

	<div>
		{{ form_start(form) }}
		<div class="row">
			<div class="col">
				{{ form_row(form.minrooms) }}
			</div>
			<div class="col">
				{{ form_row(form.maxrooms) }}
			</div>
				<div class="col">
				{{ form_row(form.minsurface) }}
			</div>
			<div class="col">
				{{ form_row(form.maxsurface) }}
			</div>
				<div class="col">
				{{ form_row(form.minprice) }}
			</div>
			<div class="col">
				{{ form_row(form.maxprice) }}
			</div>
		</div>
		<div class="row">
			<div class="d-grid gap-2 col-2 mx-auto">
				{{ form_row(form.submit) }}
			</div>
		</div>
		{{ form_end(form) }}
	</div>
	<hr>
	<br>

	<div id="allproperties" class='d-flex flex-wrap justify-content-evenly'>
		{% include "properties/_cards.html.twig" %}
	</div>

	<div class="pagination position-absolute start-50 translate-middle">
    	{{ knp_pagination_render(propertiesList) }}
	</div>
	<br><br>

{% endblock %}
