{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('app_login') }}" method="post">
    <div class="row mb-3">
        <label for="username" class="col-sm-1 col-form-label">Email:</label>
        <div class="col-sm-4">
            <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control"/>
        </div>
    </div>
    <div class="row mb-3">
        <label for="password" class="col-sm-1 col-form-label">Password:</label>
        <div class="col-sm-4">
            <input type="password" id="password" name="_password" class="form-control"/>
        </div>
    </div>

    {# <div class="row">
        <a href="{{ path('app_properties') }}" class="btn btn-primary col-1">Login</a>
    </div> #}
        
    <div class="row">
        <input type="hidden" name="_target_path" value="{{ path('app_properties') }}"/>
        <button type="submit" class="btn btn-primary col-1">Log in</button>

    </div>
    </form>

{% endblock %}
